/* CSS file for week 6 */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* This is the start of my CSS code */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

html{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px; /* makes the math easier with ems and rems */
    color:aqua;
    background: black;
}
h2{
    font-size: 3.2rem; /* 32px - based on the root size of 10px set in the html */
}
p{ 
    font-size: 1.6rem; /* 16px - based on the root size of 10px */
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ___________________________________________________MAIN__________________________________________________ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* style the element witht eh ID container */
#container{
    width: 1024px;
    margin: 0 auto; /* 0 on the top and bottom, and  "auto" and the left and right
    this will centre the page to the window */
}

/* style the element witht the class header-imaage  */
.header-image{
    width:100%; /* 100% of the width of whatever element this image is inside of */
}
/* Just an example for inline elements 
.larger span{
    width: 200px; (does not work)
    height: 100px;(does not work)
    margin: 25px; (only applies to left and right because its an inline element)
    padding: 15px;
    border: 2px solid yellow;
}*/

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ___________________________________________________NAV___________________________________________________ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

nav{
    height: 44px;
    margin-bottom: 20px;
    border-bottom: 2px solid  rgb(197, 13, 13);
}

nav li{
    float:left; /* this will make the li elements, which are block elements, sit next to each other */
}

nav a{
    display:block; /* make the anchor tags into boxes so we can do something interesting to them */
    text-align: center;
    margin: 0 5px; /* 0 on the top and bottom, 5px on the left and right */
    text-decoration: none; /*removes the underline default from the link */
    width:142px;
    height:44px;
}

/* target the span, inside anchor tags, inside list items, inside the nav */
nav li a span{ 
    display: block;
    float:left;
    font-size: 1.6rem; /* 1.6 times the root fontsize set in html */
    line-height: 2.5em; /* 2.5 times the font size of this elment */
    color: aqua; /* remember there is no font-color - color sets the font color*/
}
nav a img{
    width: 22px;
    padding: 0.7em 5px 0 15px; /* padding and margin can be set using the multiple different units of measure 
    all of which are interchangeable
    0.7 times the elements font size to the padding on the top
    5px to the padding on the right
    0 padding on the bottom - 0 doesn't need a unit, because 0 is always 0
    15px to the padding on the left*/
    float: left;
}

nav a:hover, .current{
    background: blueviolet;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

#play{ 
    color: aqua;
    /*float: right; floating it the opposite way of the other floated elements - so it sits
    on the right of the screen*/
    font-size: 2.0rem;
    background: royalblue;
    border: 1px solid aqua;
    border-radius: 10px; /* makes the corners look rounded */
    padding: 0.5em;
    height:auto; /* override the height set on the nav a - auto asks the browser to automatically
    calculate the height based on the content inside the element */

    /* use postition fixed to make the button stay on screen, even when scrolling */
    position: fixed;
    /* set its postion relative to the browser window using top/bottom, left/right */
    top: 5%;
    right: 10%;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ___________________________________________________CONTENT___________________________________________________ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

section{
    margin: 2%; /* margin is on the outside of the section and pushes other elements away */
    border: 2px solid aqua;
    padding:20px 10px 15px 25px; /* padding is on the inside and pushes content away from the edge (1 value for "px" means spacing on all edge is the same) */
    /* when you use four values in padding or margin, its top, right,bottom, left */

    /* 
    You can style individually padding, margin (and even border) on each side of thr element:
    padding-top
    padding-bottom
    padding-left
    padding-right 
    */
    width: 46%;
    height: 200px;
    float:left;
    box-sizing: border-box; /* tell the browser to automatically calculate the size of the element 
    including the border, and padding - with the total width / height */

}

/* background colour to test the article height */
article{
    background-color: purple;
}
/* applying clearfix to an element, like this, makes it see the height
of the floated elements inside of it */
/* the "after" section is attached to the bottom of the element */
.clearfix::after{
    content: ""; /* this and the display table below make the "after" section show up */
    display: table;
    clear: both;
  }

/*  one way to fix the floating height problem is to use clear */
footer{
    clear:both; /* you can clear left or right if you only want to clear one direction of float */
}
/* use float to make the text wrap around the image */
section p img{
    float:left;
}